* { 
  box-sizing: border-box; 
  }

.cont {
  position:relative;
  left:5px;
  width:30vw;
  height:45vh;
  margin:50px auto;
  text-align:center;
  background:#ecf0f1;
  padding:40px;
  -webkit-border-radius:20px 0 0 0;
     -moz-border-radius:20px 0 0 0;
          border-radius:20px 0 0 0;
  -webkit-box-shadow: 0px 1px 0px #344152, inset 0px 1px 0px white;
     -moz-box-shadow: 0px 1px 0px #344152, inset 0px 1px 0px white;
          box-shadow: 0px 1px 0px #344152, inset 0px 1px 0px white;
  box-shadow: 20px 20px 20px;
}

h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, open sans-serif;
  font-size:2.5em;
  font-weight:400;
  text-align: center;
  margin-bottom:15px;
  color:white;
  text-shadow:1px 1px 0px #2d7baf;
}

.button {
  position:relative;
  /*float:bottom;*/
  width:145px;
  margin-top:30px;
  padding-top: 10px;
  top: 80%;
  background:#00BFFF;
  color:#fff;
  font-weight:400;
  text-shadow:1px 1px 0px #2d7baf;
  box-shadow:0px 3px 0px #2d7baf;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}