
*{
  list-style: none;
}

body{
  width: 100%;
}

.taskboard-app{
  background: #283138;
  color: white;
  height: 100vh;
  padding-top: 1vw;
}
.taskboard-heading{
  font-family: ‘Lucida Console’, Monaco, monospace;
  text-decoration: underline;
  margin: 1.5vw;
  text-shadow: #777777 1px 2px 1px;
  -webkit-font-smoothing: antialiased;
}

.align-input{
  text-align: center;
  align-items: center;
}

::-webkit-scrollbar{
  background:linear-gradient(#191b18, #7a7c82);
}
::-webkit-scrollbar-corner{
  display: none;
}
::-webkit-scrollbar-thumb{
  background:linear-gradient(#191b18, #7a7c82);
}

.App {
  text-align: center;
}

.todo-containers-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #283138;
  color: #ebebeb;
}
.todo-container {
    background: #323E46;
    margin: 4%;
    text-align: center;
    border-radius: 10px;
    overflow: scroll;
    height: 36vw;
    min-width: 22vw;
    box-shadow: 11px 9px 7px black;
    border: solid 2px #acacac;
}
.container-heading{
  font-size: 2vw;
  text-shadow: #777777 1px 2px 1px;
  -webkit-font-smoothing: antialiased;
}
.todo-items{
  border: 2px solid #DCE6EB;
  border-radius: 10px;
  margin-bottom: 20%;
  text-align: center;
  position: relative;
  list-style: none;
  right: 1.5vw;
  background: #283138;
  margin: 2vw 2vw 2vw 2vw;
  overflow: auto;
}

.checkbox-and-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 17vw;
  height: 5vw;
}
.checkbox-and-event p{
  margin: 1vw;
}
.checkbox-and-event h4{
  margin: 1vw;
}
.green{
  color: #4a8b1f;
}
.yellow{
  color: #cdab18;
}
.blue{
  /*color: #3b47e4;*/
  color: #337AB7;
}
.red{
  color: #ED6661;
}
.red:hover{
  color: #ff9a9a;
  animation: grow forwards 0.3s;
}

@keyframes grow {
  from { transform: scale(1);}
  to { transform: scale(2);}
}

* {
  box-sizing: border-box;
  }

.cont {
  position:relative;
  left:5px;
  width:30vw;
  height:45vh;
  margin:50px auto;
  text-align:center;
  background:#ecf0f1;
  padding:40px;
  -webkit-border-radius:20px 0 0 0;
     -moz-border-radius:20px 0 0 0;
          border-radius:20px 0 0 0;
  -webkit-box-shadow: 0px 1px 0px #344152, inset 0px 1px 0px white;
     -moz-box-shadow: 0px 1px 0px #344152, inset 0px 1px 0px white;
          box-shadow: 0px 1px 0px #344152, inset 0px 1px 0px white;
  box-shadow: 20px 20px 20px;
}

/*h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, open sans-serif;
  font-size:2.5em;
  font-weight:400;
  text-align: center;
  margin-bottom:15px;
  color:white;
  text-shadow:1px 1px 0px #2d7baf;
}*/

.button {
  position:relative;
  /*float:bottom;*/
  width:145px;
  margin-top:30px;
  padding-top: 10px;
  top: 80%;
  background:#00BFFF;
  color:#fff;
  font-weight:400;
  text-shadow:1px 1px 0px #2d7baf;
  box-shadow:0px 3px 0px #2d7baf;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
